# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\d\pytorch-repo\docker-utilization\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
